// PAW Brand Colors
$paw-yellow: #f8b102;
$paw-brown: #171219;
$paw-turquoise: #225560;
$paw-bordeaux: #310d20;
$paw-lilac: #d0cfec;

// SCSS reusable mixins
@mixin paw-oval($width: 100px, $height: 120px, $background-color: black) {
  border: solid 10px $paw-yellow;
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: 70%;
}

@mixin flex-row($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin overlay-style() {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.525);
}

// **************************** Base *********************************** //
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
  font-weight: 300;
  height: 100vh;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  color: $paw-yellow;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.page-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 3;
}

.avatar-button {
  --size: 17vw;
  border: solid 1vw $paw-yellow;
  border-radius: 50%;
  cursor: pointer;

  &::part(base) {
    background-color: black;
  }

  &:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.03);
  }
}

.avatar-main {
  --size: 23vw;
  border: solid 1vw black;
  border-radius: 50%;
  overflow: hidden;

  &::part(base) {
    background-color: $paw-yellow;
  }

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.avatar-gallery {
  --size: 9vh;
  border: solid 0.5vw black;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &::part(base) {
    background-color: black;
  }

  &:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out;
  }
}

#selected {
  border-color: $paw-yellow;
}

.avatar-badge {
  --size: 8vh;
  border: solid 0.5vw $paw-lilac;
  border-radius: 50%;

  img {
    width: 65%;
  }

  &::part(base) {
    background-color: black;
  }
}

.avatar-app {
  --size: 170px;
  min-width: 180px;
  border: solid 0.5vw black;
  border-radius: 50%;
  overflow: hidden;

  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// ************************************ Headings *********************************** //
h1,
h2,
h3 {
  margin: 0 0 0.5em;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

// ************************************ Background PAWS Styling *********************************** //

.paw-main {
  @include paw-oval(490px, 430px, $paw-yellow);
  border-color: black;
  position: absolute;
  bottom: -130px;
  left: -120px;
  transform: rotateZ(25deg);
  overflow: hidden;
}

.paw-top-right {
  @include paw-oval(590px, 470px, $paw-yellow);
  border-color: white;
  position: absolute;
  top: -150px;
  right: -150px;
  transform: rotateZ(25deg);
}

.paw-div {
  position: absolute;
}

#paw-1 {
  @include paw-oval(170px, 190px, black);
  bottom: 330px;
  left: -60px;
  transform: rotateZ(-15deg);
}

#paw-2 {
  @include paw-oval(190px, 220px, $paw-bordeaux);
  bottom: 320px;
  left: 180px;
  transform: rotateZ(24deg);
}

#paw-3 {
  @include paw-oval(170px, 190px, black);
  bottom: 175px;
  left: 370px;
  transform: rotateZ(53deg);
}

#paw-4 {
  @include paw-oval(190px, 220px, $paw-bordeaux);
  bottom: -60px;
  left: 440px;
  transform: rotateZ(95deg);
}

// ************************************ LANDING PAGE *********************************** //

.landing-page {
  width: 100%;
  height: 100%;
  background-color: $paw-turquoise;
  position: relative;
  @include flex-column(flex-end, flex-end);
  padding: 0 10% 8% 0;
  overflow: hidden;

  .landing-buttons {
    width: 30%;
    height: fit-content;
    @include flex-column(center, center);
    gap: 20px;
    z-index: 5;

    .landing-button {
      width: 100%;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }

      &:nth-child(2)::part(base) {
        background-color: black;
        color: white;
        border: 0;
        box-shadow: 0 2px 10px #0002;

        &:hover {
          color: $paw-yellow;
        }
      }
    }
  }
}

// ************************************ SIGNUP PAGES *********************************** //

.signup-page {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: $paw-turquoise;
  position: relative;
  @include flex-row(center, center);
  overflow: hidden;

  h1 {
    font-size: 2.5em;
    color: white;
    font-weight: 400;
  }

  .overlay {
    @include flex-column(center, center);
    @include overlay-style();
    gap: 5vh;

    .picker-container {
      width: 100%;
      gap: 10vw;
      @include flex-row(center, center);
    }

    #shelter {
      background-color: $paw-turquoise;
      border: solid 1vw white;
      h2 {
        color: white;
      }
    }

    #seeker {
      background-color: white;
      border: solid 1vw $paw-yellow;
      color: black;
    }

    .user-type-picker {
      width: 27vw;
      height: 27vw;
      border-radius: 20%;
      @include flex-column(center, center);
      gap: 6%;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      h2 {
        font-size: 2.2em;
      }

      &:hover {
        transform: scale(1.03);
      }

      img {
        width: 12vw;
      }
    }
  }

  .signup-overlay {
    @include overlay-style();
    @include flex-column(center, center);
    gap: 5vh;

    p {
      color: white;
      text-align: center;
    }

    .signup-form {
      width: 100%;
      height: 55%;
      @include flex-row(center, center);
      gap: 10vw;
      padding: 0 5vw;

      sl-input::part(form-control),
      sl-textarea::part(form-control),
      sl-select::part(form-control) {
        color: white;
        font-weight: 500;
      }

      .signup-column {
        width: 40%;
        height: 100%;
        @include flex-column(flex-start, center);
        gap: 8%;

        .input-group {
          width: 100%;
        }

        .signup-submit-area {
          width: 100%;
          text-align: right;

          sl-button {
            width: 50%;
            margin-top: 23px;
            &::part(base) {
              color: black;
            }
          }
        }
      }
    }
  }
}

// ************************************ LOGIN PAGE *********************************** //

.login-page {
  width: 100%;
  height: 100%;
  background-color: $paw-turquoise;
  position: relative;
  @include flex-column(flex-end, flex-end);
  padding: 0 8% 5% 0;
  overflow: hidden;

  p {
    color: white;
    text-align: center;
    width: 30%;
  }

  #form-signin {
    width: 30%;
    height: fit-content;
    z-index: 5;

    .signin-input {
      margin-bottom: 10px;
    }

    sl-input::part(form-control) {
      color: white;
    }

    sl-button {
      width: 100%;
      margin-top: 20px;

      &::part(base) {
        background-color: black;
        color: white;
        border: 0;
        box-shadow: 0 2px 10px #0002;
        transition: 0.5s ease-in-out;

        &:hover {
          transform: scale(1.02);
          color: $paw-yellow;
        }
      }
    }
  }
}

// ************************************ DASHBOARD PAGES *********************************** //

.dashboard-view {
  width: 100%;
  height: 300vh;
  min-height: 2400px;
  position: relative;
  overflow: hidden;

  .dashboard-section {
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;

    #first-background-img,
    #second-background-img,
    #third-background-img {
      position: absolute;
      z-index: 0;
      opacity: 0.05;
      height: 110%;
    }

    #first-background-img {
      right: -3%;
      bottom: -10%;
    }

    #second-background-img {
      left: -3%;
      bottom: -5%;
      opacity: 0.08;
    }

    #third-background-img {
      right: -3%;
      bottom: -15%;
    }

    &:nth-child(1) {
      @include flex-row(space-around, center);
      .section-column {
        width: 33.3%;
        height: 100%;
        @include flex-column(flex-end, center);
        gap: 5%;
        padding-bottom: 10vh;
        color: white;
        z-index: 1;

        h2 {
          font-size: 2em;
        }

        &:nth-child(2) {
          justify-content: flex-start;
          padding-bottom: 0;
          padding-top: 10vh;
        }
      }
    }

    &:nth-child(2) {
      background-color: black;
      @include flex-column(flex-end, center);
      padding: 0;

      #dashboard-pets-title {
        color: white;
        margin: 0;
        font-size: 2.5vw;
      }

      .carousel-container {
        width: 100%;
        height: 85%;
        padding: 0 0 0 2vw;
        @include flex-row(space-around, center);
        sl-carousel {
          width: 83%;
          height: 95%;
        }

        sl-icon {
          color: $paw-turquoise;
          font-size: 100px;
        }

        .avatar-button {
          --size: 10vw;
          sl-icon {
            color: white;
            font-size: 10vw;
          }
        }
      }
    }

    &:nth-child(3) {
      background-color: $paw-lilac;
      @include flex-column(flex-end, center);
      gap: 1%;
      padding: 0;

      #dashboard-pets-title {
        color: black;
        margin: 0;
        font-size: 2.5vw;
      }

      .carousel-container {
        width: 100%;
        height: 85%;
        @include flex-row(space-around, flex-end);

        sl-carousel {
          width: 100%;
          height: 95%;
        }

        sl-icon {
          color: $paw-bordeaux;
          font-size: 80px;
        }
      }
    }
  }

  #avatar-paw {
    width: 60%;
  }
}

// Shelter Dashboard styling
.shelter {
  background-color: $paw-bordeaux;

  #avatar-image {
    max-height: 100%;
  }

  .shelter-info {
    @include flex-column(flex-start, center);
    gap: 2%;
    text-align: center;

    h3 {
      @include flex-row(center, center);
    }

    #location-pin {
      width: 20px;
      margin-right: 5px;
    }
    sl-button {
      margin-top: 5%;

      &::part(base) {
        background-color: $paw-lilac;
        color: black;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

// Seeker Dashboard styling
.seeker {
  background-color: $paw-turquoise;

  #center-white::part(base) {
    background-color: $paw-yellow;
  }

  #center-white {
    border-color: black;
  }

  .avatar-button img {
    width: 70%;
  }

  #seeker-central-column {
    justify-content: flex-start;
    padding-top: 7%;

    h1 {
      font-size: 3vw;
    }
  }

  .dashboard-section:nth-child(2) {
    @include flex-column(center, center);
    gap: 5%;

    .carousel-container {
      width: 100%;
      height: 72%;
      padding: 0 0 0 2vw;
      @include flex-row(space-around, center);
      sl-carousel {
        width: 100%;
        height: 110%;
      }

      sl-icon {
        font-size: 80px;
      }
    }
  }
}

.filter-menu {
  color: white;
  width: 100%;
  @include flex-row(center, center);
  gap: 7%;

  h3,
  p {
    margin: 0;
  }

  div {
    @include flex-row(center, center);
    gap: 10px;
  }
}

// ************************************ PET & SHELTER PAGE COMMON STYLING *********************************** //
.layout-page {
  width: 100%;
  height: 200vh;
  min-height: 1600px;
  position: relative;
  overflow: hidden;
  color: white;

  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }

  .layout-section {
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .pet-btn-title {
      color: white;
      margin-top: 4%;
    }

    .pet-title {
      color: white;
      font-size: 45px;
      width: 100%;
      text-align: center;
      margin: 2% 0;
    }

    &:nth-child(3) {
      background-color: black;
    }
  }

  #first-background-img,
  #second-background-img {
    position: absolute;
    z-index: 0;
    opacity: 0.05;
    height: 110%;
  }

  #first-background-img {
    left: -3%;
    bottom: -20%;
  }

  #second-background-img {
    right: -10%;
    bottom: -5%;
    opacity: 0.15;
  }
}

// ************************************ PET PAGE *********************************** //

.pet-page-view {
  .page-animation {
    background-color: $paw-turquoise;
  }

  .pet-page-section {
    &:nth-child(2) {
      background-color: $paw-turquoise;
      @include flex-row(space-around, center);

      .section-column {
        @include flex-column(flex-end, center);
        height: 100%;
        padding-bottom: 8%;
        width: 33.3%;
        z-index: 1;

        .avatar-button {
          img {
            width: 70%;
          }
        }

        &:nth-child(2) {
          justify-content: flex-start;
          color: white;
          padding: 2% 0 1% 0;

          .img-gallery {
            width: 100%;
            height: 65%;
            min-height: 450px;
            @include flex-column(center, center);
            gap: 20px;

            .avatar-main {
              --size: 45vh;
            }

            .gallery-row {
              width: 100%;
              min-width: 60vh;
              @include flex-row(space-around, center);

              .second {
                top: -20px;
                position: relative !important;
              }

              .third {
                top: -80px;
                right: -2%;
                position: relative !important;
              }

              .fourth {
                top: -80px;
                left: -2%;
                position: relative !important;
              }
            }
          }

          .badges-row {
            @include flex-row(center, center);
            margin-top: 2%;
            gap: 10%;
          }
        }
      }
    }
  }

  .list-container {
    height: 85%;
    @include flex-column(center, flex-start);
    padding-left: 5%;
    color: white;

    ul {
      font-size: 2vw;
      width: 100%;
    }

    sl-avatar {
      margin-right: 5%;
      border: solid 0.5vw white;
      border-radius: 50%;
      --size: 5vw;

      &::part(base) {
        background-color: $paw-lilac;
        border-color: white;
        color: black;
      }
    }
  }
}

// ************************************ SHELTER PAGE *********************************** //

.shelter-page-view {
  .page-animation {
    background-color: $paw-bordeaux;
  }
  .shelter-page-section {
    &:nth-child(2) {
      background-color: $paw-bordeaux;
      @include flex-row(center, center);
    }

    .first-column {
      height: 100%;
      width: 40%;
      min-width: fit-content;
      @include flex-column(flex-end, center);
      gap: 3%;
      padding-bottom: 5%;
      .avatar-main {
        --size: 350px;
      }
      p {
        margin-top: 0;
      }
    }

    .second-column {
      height: 100%;
      width: 70%;
      @include flex-column(flex-end, flex-start);
      padding: 0 0 5% 10%;
      h2 {
        font-size: 45px;
      }
      p {
        margin-bottom: 10%;
      }

      .badges-row {
        width: 100%;
        @include flex-row(flex-start, center);
        gap: 3%;
      }

      .avatar-badge {
        --size: 10vh;
        border: solid 0.6vw $paw-yellow;
      }
    }

    #shelter-address {
      img {
        width: 1.7vw;
        margin-bottom: -0.2%;
      }
    }

    .carousel-container {
      width: 100%;
      height: 78%;
      padding: 2% 0 0 0;
      @include flex-row(space-around, center);
      sl-carousel {
        width: 100%;
        height: 110%;
      }

      sl-icon {
        font-size: 80px;
      }
    }
  }
}

// ************************************ MY APPLICATIONS *********************************** //
.applications-screen {
  width: 100%;
  height: fit-content;
  min-height: 800px;
  position: relative;
  overflow: auto;
  color: white;
  background-color: $paw-turquoise;
  @include flex-column(flex-start, center);
  padding: 12% 0 5% 0;
  h1 {
    margin-bottom: 40px;
  }
}

.details-group {
  width: 80%;
}
sl-details {
  color: black;
  width: 100%;
  margin-bottom: 20px;
}

sl-details::part(header) {
  background-color: $paw-lilac;
}

sl-details::part(summary) {
  width: 100%;
}

.summary {
  width: 100%;
  @include flex-row(space-between, center);
  p {
    width: 20%;
    margin: 0;
  }
}

sl-details::part(content) {
  height: 200px;
}

.details-show {
  width: 96%;
  height: 100%;
  padding: 0 2%;
  @include flex-row(space-between, center);

  .left-content {
    @include flex-row(flex-start, center);
    gap: 10%;
    width: 80%;
    p {
      width: 80%;
    }
  }

  .right-content {
    height: 100%;
    @include flex-column(center, center);
    gap: 9%;
    width: 20%;
    p {
      margin: 0;
      text-align: center;
    }
  }

  .avatar-button {
    border-width: 10px;
    --size: 80px;
    sl-icon {
      font-size: 500px;
    }
  }
}

// ************************************ APPLICATION FORM *********************************** //

.adoption-page {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: $paw-turquoise;
  position: relative;
  @include flex-row(center, center);
  overflow: hidden;

  .paw-main {
    img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.adoption-overlay {
  @include overlay-style();
  @include flex-column(center, center);
  padding: 0 20%;
  h1,
  p,
  .adoption-form {
    width: 100%;
    margin-top: 0;
  }
  gap: 10px;
  color: white;
  text-align: left;

  .application-submit-area {
    text-align: right;
    padding-top: 20px;
  }
}

// ************************************ REVIEW APPLICATION *********************************** //
#review {
  padding: 150px 10% 10px;

  table {
    width: 100%;
    color: black;

    th {
      background-color: $paw-yellow;
      padding: 1%;
      border-radius: 10px;
    }
    td {
      padding: 1%;
    }
  }

  .details {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.924);
  }

  .application-submit-area {
    width: 100%;
  }

  #reject-btn,
  #approve-btn {
    width: 100px;
    margin-left: 2%;
    &::part(base):hover {
      transform: scale(1.05);
      transition: 0.4s ease-in-out;
    }
  }

  #approve-btn::part(base) {
    background-color: green;
    border-color: green;
  }

  #reject-btn::part(base) {
    background-color: $paw-bordeaux;
    border-color: $paw-bordeaux;
  }
}

// ************************************ EDIT PROFILE PAGE *********************************** //

#edit-page {
  min-height: 1000px;
  .adoption-overlay {
    padding: 140px 20% 30px;

    .input-group {
      margin-top: 1%;
    }

    sl-avatar::part(base) {
      width: 100px;
      height: 100px;
      margin: 10px 10px 0;
    }
  }
}

// ************************************ ADD PET *********************************** //
#add-pet {
  min-height: 1000px;
  .paw-main {
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .input-group {
    color: white;
  }

  #images {
    margin: 20px 0;
  }
}
