// Responsive styling //

// ******************************* HD LAPTOP (1280 X 720) ********************************* //

@media (max-width: 1380px) {
}

@media (max-width: 1280px) {
  // ***********************  PET PAGE  ***********************  //

  // ***********************  SHELTER PAGE  ***********************  //

  // ***********************  FORMS  ***********************  //
}

// ******************************* TABLET (under 1024px width) ********************************* //

@media (max-width: 1024px) {
  // *********************** LANDING PAGE  ************************* //
  .landing-page {
    padding: 0 10% 10% 0;
    .landing-buttons {
      width: 40%;
    }
  }

  .overlay {
    display: initial;
  }
  // ***********************  LOGIN PAGE  ***********************  //

  .login-page {
    #form-signin,
    p {
      width: 50%;
    }
  }
  // ***********************  SIGNUP PAGE  ***********************  //

  .signup-page {
    .overlay {
      .user-type-picker {
        width: 35vw;
        height: 35vw;
        gap: 3%;

        img {
          width: 17vw;
        }
      }
    }
  }
  // ***********************  DASHBOARD  ***********************  //

  .dashboard-view {
    height: 150vh;
    .dashboard-section {
      height: 50vh;

      &:nth-child(1) {
        .section-column {
          padding-bottom: 5%;
        }

        .avatar-button {
          --size: 20vw;
        }
      }
    }

    .dashboard-section:nth-child(2),
    .dashboard-section:nth-child(3) {
      #dashboard-pets-title {
        font-size: 30px;
      }
    }
  }

  .seeker {
    #seeker-central-column {
      padding-top: 250px;

      h1 {
        font-size: 30px;
        width: 70vw;
        text-align: center;
      }
    }
  }

  .shelter {
    .dashboard-section:nth-child(1) {
      .section-column:nth-child(2) {
        padding-top: 150px;

        h2,
        h3 {
          width: 80vw;
          text-align: center;
        }
        p {
          width: 30vw;
          text-align: center;
        }
      }
    }
  }
  // ***********************  PET PAGE  ***********************  //

  .pet-page-view {
    .pet-page-section {
      &:nth-child(2) {
        .section-column:nth-child(2) {
          .img-gallery {
            height: 58%;
            .avatar-main {
              --size: 300px;
            }

            .gallery-row {
              width: fit-content;
              min-width: unset;
              .second {
                top: -40px;
                margin: 0 30px;
              }
              .third {
                top: -125px;
                right: -35px;
              }

              .fourth {
                top: -125px;
                left: -35px;
              }
            }

            .avatar-gallery {
              --size: 80px;
            }
          }
        }
      }
    }

    .list-container {
      ul {
        font-size: 25px;

        span {
          max-width: 80%;
        }

        sl-avatar {
          --size: 50px;
        }
      }
    }
  }
  // ***********************  SHELTER PAGE  ***********************  //

  // ***********************  FORMS  ***********************  //
}

// ******************************* MOBILE () ********************************* //

@media (max-width: 481px) {
  // *********************** LANDING PAGE  ************************* //
  .landing-page {
    @include flex-column(center, center);
    padding: 0;

    .landing-buttons {
      width: 50%;
      gap: 40px;
    }
  }

  // ***********************  LOGIN PAGE  ***********************  //

  .login-page {
    @include flex-column(center, center);
    padding: 20% 0 0 0;
  }
  // ***********************  SIGNUP PAGE  ***********************  //

  .signup-page {
    .overlay {
      .picker-container {
        flex-direction: column;
      }

      .user-type-picker {
        width: 200px;
        height: 200px;
        gap: 0;

        img {
          width: 100px;
        }
      }
    }
  }
  #signup-second-page {
    height: 1200px;
    .signup-overlay {
      padding-top: 150px;
      height: 1200px;
      gap: 0;

      h1 {
        width: 95%;
        text-align: center;
      }

      .signup-form {
        height: 100%;
        flex-direction: column;
        gap: 10px;

        .signup-column {
          height: fit-content;
          width: 90%;
          gap: 15px;
        }
      }
    }
  }
  // ***********************  DASHBOARD  ***********************  //

  .dashboard-view {
    .dashboard-section {
      height: 50vh;

      &:nth-child(1) {
        padding-left: 25px;
        padding-right: 25px;
        .avatar-button {
          --size: 27vw;
        }

        .section-column {
          h2 {
            font-size: 25px;
          }

          gap: 3%;
        }
      }
    }
  }

  .seeker {
    #seeker-central-column {
      padding-top: 250px;

      h1 {
        font-size: 25px;
        width: 70vw;
        text-align: center;
      }
    }

    .dashboard-section:nth-child(2),
    .dashboard-section:nth-child(3) {
      #dashboard-pets-title {
        font-size: 20px;
      }
      .carousel-container {
        sl-icon {
          font-size: 40px;
        }
      }
    }
  }

  .shelter {
    .dashboard-section:nth-child(1) {
      .section-column:nth-child(2) {
        p {
          width: 40vw;
          text-align: center;
        }
      }
    }

    .dashboard-section:nth-child(2),
    .dashboard-section:nth-child(3) {
      .carousel-container {
        sl-carousel {
          width: 100%;
        }

        sl-icon {
          font-size: 40px;
        }
      }
    }
  }

  #add-pet-bttn {
    display: none;
  }

  #mobile-add-pet-bttn {
    display: inline-block;
    &::part(base) {
      width: 45px;
      height: 45px;
    }

    margin-left: 20px;
  }
  // ***********************  PET PAGE  ***********************  //

  .pet-page-view {
    .pet-page-section {
      &:nth-child(2) {
        padding: 0 20px;

        h1 {
          width: 70vw;
          font-size: 30px;
        }

        h2 {
          font-size: 25px;
          width: 40vw;
        }

        p {
          font-size: 18px;
          width: 70vw;
        }

        h1,
        h2,
        p {
          text-align: center;
        }
        .section-column:nth-child(2) {
          .img-gallery {
            justify-content: flex-end;
            padding-bottom: 30px;
            .avatar-main {
              --size: 220px;
            }

            .gallery-row {
              .second {
                top: -25px;
                margin: 0 25px;
              }
              .third {
                top: -90px;
                right: -25px;
              }

              .fourth {
                top: -90px;
                left: -25px;
              }
            }

            .avatar-gallery {
              --size: 50px;
            }
          }
        }
      }
    }

    .list-container {
      ul {
        font-size: 22px;
        width: 100%;
        margin-left: -8%;

        span {
          max-width: 80%;
        }
      }
    }
  }

  .layout-page{
    .layout-section{
      .pet-title{
        font-size: 30px;
        padding-top: 10px;
      }
    }
  }
  // ***********************  SHELTER PAGE  ***********************  //

  // ***********************  FORMS  ***********************  //
}
